html, body{
  height: 100vh;
  margin: 0;
  font-family: 'Noto Serif KR', serif;
}
body{
  /*width: 100vw; /*부모의 영향을 받지 않고 뷰포트 기준 전체화면 꽉 채우는 width*/
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: 10% 85% 5%;
  grid-template-areas: 
  'side header'
  'side main'
  'side footer';
}
header{
  grid-area: header;
  background-color: #A8A6A6;
}
main{
  grid-area: main;
  background-color: #E4E4E0;
  overflow: auto;
  overflow-x: hidden;
}
aside{
  grid-area: side;
  background-color: #83899e;/*#939FBF*/
}
footer{
  grid-area: footer;
  background-color: #EFEFED;
}
main::-webkit-scrollbar{
  width: 10px;
}
main::-webkit-scrollbar-thumb {
  height: 20%; /* 스크롤바의 길이 */
  background: #b5b5b5; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

main::-webkit-scrollbar-track {
  background: #E4E4E0;  /*스크롤바 뒷 배경 색상*/
}