#category_update{
  width: 45rem;
  margin: 2rem auto;
  padding: 1rem 2rem 2rem 2rem;
  border: solid #949292;
}
#page_title{
  text-align: center;
  font-size: 2rem;
  color: #656464;
  font-weight: 600;
}
#plan_update{
  display: inline-block;
}
#update_text{
  font-size: 1.2rem;
  font-weight: 500;
  color: #656464;
  width: 30rem;
  height: 2rem;
  font-family: 'Gothic A1', sans-serif;
  margin: .2rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #949292;
  outline: none;
}
#update_button, #delete_button{
  color: #595757;
  background-color: #bebdbdc1;
  font-family: 'Gothic A1', sans-serif;
  font-size: .9rem;
  font-weight: 400;
  border: none;
  border-radius: 1rem;
  padding: .3rem.5rem;
}
#delete{
  display: inline-block;
}
#delete_button:hover, #update_button:hover{
  color: #2b2a2a;
  background-color: #bebdbd;
}
#plans{
  text-align: center;
  margin-bottom: .5rem;
}