#logintool{
  display: flex;
  height: 100%;

}
#logind {
  margin: auto ;
  background-color: #EFEFED;
  width: 25rem;
  padding: 3rem 2rem;
  text-align: center;
  border-right: 7px solid #949292;  
  border-bottom: 8px solid #949292;
  border-radius: 3rem;
}
#id, #password{
  color:#4d4d4d;
  font-family: 'Gothic A1', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  width: 23rem;
  margin: .2rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #949292;
  outline: none;
}
#loginsub{
  font-family: 'Gothic A1', sans-serif;
  width: 23.5rem;
  font-size: 1.6rem;
  padding: .3rem .2rem;
  margin-top: 1.8rem;
  background-color: #939FBF;
  color: white;
  border: none;
  border-radius: .4rem;  
  outline: none;
}
#loginsub:hover{
  background-color: #7985a5;
}
#sign-up{
  display: inline-block;
  color: #949292;
  text-decoration: none;
  margin-top: .5rem;
  margin-left: 20rem;
}
#sign-up:hover{
  color: #727171;
}