#logintool{
  display: flex;
  height: 100%;

}
#logind {
  margin: auto ;
  background-color: #EFEFED;
  width: 25rem;
  padding: 3rem 2rem;
  text-align: center;
  border: 8px solid #949292;  
  border-radius: 4rem;
}
#id, #password{
  font-family: 'Noto Serif KR', serif;
  font-size: 1.6rem;
  width: 23rem;
  margin: .2rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #949292;
  outline: none;
}
#loginsub{
  font-family: 'Noto Serif KR', serif;
  width: 23.5rem;
  font-size: 1.6rem;
  padding: .2rem;
  margin-top: 2rem;
  background-color: #939FBF;
  color: white;
  border: none;
  border-radius: .4rem;  
  outline: none;
}
#sign-up{
  display: inline-block;
  color: #949292;
  text-decoration: none;
  margin-top: .5rem;
  margin-left: 20rem;
}