#menubar{
  color: whitesmoke;
  display: block;
  margin: auto;
  height: 100%;
}
.menubarblock{
  position: relative;
  height: 100%;
}
/*#727171*/
a {
  text-decoration: none;
  color: whitesmoke;
}
.ldes{
  text-align: right;
  margin: 0 3rem;
  margin-bottom: 2rem;
  padding-top: 7rem;
  padding-bottom: .5rem ;
  border-bottom: solid 2px whitesmoke;
}
#category{
  margin : 1rem 3rem 0.3rem;
  padding-bottom: .5rem ;
  border-bottom: solid 2px whitesmoke;
}
.mdes{
  font-size: 1.2rem;
  text-align: left;
  margin: 0 1.5rem;
  padding-top: 1rem ;
  padding-bottom: .5rem ;
  border-bottom: solid 2px whitesmoke;
}
#loginsignup, #logout{
  font-size: 1.2rem;
  position:absolute;
  bottom: 15px;
  right: 15px;
}
#name{
  font-size: 1.5rem;
}
#categorytext{
  font-family: 'Noto Serif KR', serif;
  outline: none;
  border: 0;
  width: 70%;
  background-color: whitesmoke;
  padding: .2rem;
}
#cate_button{
  font-family: 'Noto Serif KR', serif;
  background-color: #949292;
  color: whitesmoke;
  border: none;
  border-radius: .2rem;
  padding: .2rem .5rem;
}
#cate_button:hover{
  background-color: #848383;
}
.mypage:hover,#loginsignup:hover, #logout:hover{
  color: rgb(231, 229, 229);
}
.list{
  list-style: none;
  margin: .2rem 0;
  padding: .2rem 0;
}
input[id*="plan"]{
  display: none;
}
input[id*="plan"] + label{
  display: inline-block;
  font-size: 1.1rem;
  margin-left: 2rem;
  margin-top: .5rem;
  padding-right: 2rem;
  cursor: pointer;
  border-bottom: solid 1px whitesmoke;
}
input[id*="plan"] + label + div{
  overflow: hidden;
  height: 0;
  display: block;
  align-items: center;
  transition: all .3s;
}
input[id*="plan"]+ label+ div li{
  display: block;
  margin-left: 3rem;
  padding: 0.1rem 0 .1rem 0;
}
input[id*="plan"]:checked + label + div{
  height: auto;
}
#categoryup{
  display: flex;
  margin-left: auto;
  margin-right: 3rem;
  font-family: 'Noto Serif KR', serif;
  background-color: transparent;
  color: whitesmoke;
  border: none;
}
#group-list{
  position: absolute;
  right: 23px;
  margin-top: 0.3rem;
  font-size: .9rem;
}
#group-list-login{
  float: right;
  margin-right: 1rem;
  font-size: .8rem;
  font-family: 'Noto Serif KR', serif;
  background-color: transparent;
  color: whitesmoke;
  border: none;
}