#todocalendar{
  float: left;
  display: flex;
  align-items: center;

}
#makeplan{
  display: flex;
}
#todoplan{
  float: left;
  width: 25rem;
}
#plan_title{
  font-weight: 700;
  display: block;
  width: 20rem;
  margin: 2rem auto 3rem auto;
  text-align: center;
  color: #53555e;
  padding-bottom: .3rem ;
  border-bottom: 2px solid#727685;
}
#datepicker{
  width: 18.5rem;
  font-weight: 600;
  color: #53555ee7;
  background-image: url(/static/image/calendar_with_check.png);
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-position: 98% 50%;
}
#todo_tool{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
input[type="submit"]{
  background-color: transparent;
  color: #4a4d57;
  border: none;
  border-radius: .6rem;
  padding: .4rem .3rem;
  font-family: 'Gothic A1', sans-serif;
}
#day_select_button {
  margin-left: .6rem;
}
#date{
  font-weight: 500;
  color: #53555edc;
  font-size: 1.4rem;
  margin-bottom: .5rem;
}
#content_p{
  font-family: 'Gothic A1', sans-serif;
  color: #989898;
  width: 20rem;
  padding: .2rem;
  border-radius: .2rem;
  background-color: white;
  outline: none;
  border: 2px solid white;
}
.text{
  font-family: 'Gothic A1', sans-serif;
  background-color: transparent;
  outline: none;
  width: 18rem;
  margin-bottom: .4rem;
  border: none;
  border-bottom: 1px solid #4a4d57;
}
#create_p{
  margin-left: .4rem;
}
#plan_list, #plan_del{
  display: inline-block;
}

#plan_checkbox > input[type="checkbox"]{
  display: none;
}
#plan_checkbox > input[type="checkbox"] + label{
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #4a4d57 ;
}
#plan_checkbox > input[type="checkbox"]:checked + label{
  background-color: #636363;
}
#plan_date{
  font-weight: 600;
  color: #53555ee7;
  font-size: large;
  margin-bottom: .5rem;
}
#plan_left, #plan_completed{
  background-color: #cacaca;
  padding: .5rem;
  padding-left: 1.5rem;
}
#plan_left{
  padding-bottom: 0;
}
#plan_completed{
  padding-top: 0;
}