#signintool{
  display: flex;
  height: 100%;
}
#title{
  color: #949292;
  margin-top: 0;
  margin-bottom: .7rem;
}
#signind {
  display: block;
  margin: auto ;
  background-color: #EFEFED;
  width: 30rem;
  padding: 1.5rem 1rem;
  text-align: center;
  border: 10px solid #949292;  
  border-radius: 4rem;
}
#name, #id, #password, #email, #pw_check{ 
  font-family: 'Noto Serif KR', serif;
  font-size: 1rem;
  width: 25rem;
  margin-top: 2rem;
  background-color: transparent;
  border: 1.3px solid #949292;
  padding: .2rem;
  outline: none;
}
#id, #email{
  width: 21rem;
}
#signup{
  font-family: 'Noto Serif KR', serif;
  width: 8rem;
  font-size: 1rem;
  padding: .4rem;
  margin-top: 1.5rem;
  background-color: #939FBF;
  color: white;
  border: none;
  border-radius: .4rem;  
  outline: none;
}
.des{
  color: #949292;
  margin-top: 0;
  text-align: left;
  margin-left: 40px;
  font-size: .75rem;
}
.check{
  color: white;
  background-color:#b9b8b8 ;
  border: none;
  border-radius: .2rem;
  padding: .4rem .2rem;
}