<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/bodygrid.css" >
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
  </head>

  <body>
    <header>
      
    </header>
    <aside>
      <section id="menubar">
        {% if not current_user.is_authenticated %}
          <div><a href="/user">로그인</a>을 해주세요.</div>
          <a href="">My Page</a><br>
          <a>Plan</a><br>
          <a>Personal</a><br>
          <a>Group</a><br>
          <div><a href="/user">login</a> / <a href="/user/register">Sign up</a></div>
        {% else %}
          <div>{{current_user.name}}님</div>
          <a href="">My Page</a><br>
          <a>Plan</a><br>
          <a>Personal</a><br>
          <a>Group</a><br>
          <a href="/user/logout">Logout</a>
        {% endif %}

      </section>
    </aside>
    <main>
      <section id="logintool">
        {% if not current_user.is_authenticated %}
          <div id="logind">
              <form action="/user/login" method="post">
                <div class="int-area" id = 'id'><input type="text" placeholder="id" name="id" /></div>
                <div class="int-area"><input type="password" placeholder="password" name="pw" /></div>
                <div class="btn-area"><input type="submit" id="btn" value="login" /></div>
              </form>
              <a id="sign-up" href="/user/register">Sign up</a>
          </div>  
          
        {% else %}
        <div>Hi {{current_user.name}}</div>
        <a href="/user/logout">Logout</a>

        <form action="/user/deleteAction" method="POST">
          <input type='submit' value="회원탈퇴"></input>
        </form>


        {% endif %}
        
      </section>
    </main>
    <footer>
      
    </footer>
  </body>
</html>