<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/bodygrid.css" >
    <title>Login</title>
  </head>

  <body>
    <header>
      header
    </header>
    <aside>
      side
    </aside>
    <main>
      main
      <section>
        {% if not current_user.is_authenticated %}
        <form action="/user/login" method="post">
          <h2>LOGIN</h2>
          <div class="int-area" id = 'id'><input type="text" placeholder="id" name="id" /></div>
          <div class="int-area"><input type="password" placeholder="password" name="pw" /></div>
          <div class="btn-area"><input type="submit" id="btn" value="login" /></div>
        </form>
        {% else %}
        <div>Hi {{current_user.name}}</div>
        <a href="/user/logout">Logout</a>

        <form action="/user/deleteAction" method="POST">
          <input type='submit' value="회원탈퇴"></input>
        </form>


        {% endif %}
        
      </section>
    </main>
    <footer>
      footer
    </footer>
  </body>
</html>