</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bodygrid.css" >
    <link rel="stylesheet" href="../static/css/mypage.css">
    <link rel="stylesheet" href="../static/css/menubar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap" rel="stylesheet">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script> 
</head>
<body>
  <header>
 
  </header>
  <aside>
    <section id="menubar">
      {% if not current_user.is_authenticated %}
        <div class="menubarblock">
          <div class="ldes"><a href="/user">로그인</a>을 해주세요.</div>
          <div class="mdes"><a class="home" href="/">HOME</a><br></div>
          <div class="mdes"><a class="mypage" href="../user/mypage">My Page</a><br></div>
          <div class="mdes"><a class="plan">Plan</a><br></div>
          <div class="mdes"><a class="personal">Personal</a><br></div>
          <div class="mdes"><a class="group">Group</a><br></div>
          <div id="loginsignup"><a href="/user">login</a> / <a href="../user/register">Sign up</a></div>
        </div>
    
      {% else %}
      <div class="menubarblock">
          <div class="ldes" id="name">{{current_user.name}}님</div>
          <div class="mdes"><a class="home" href="/">HOME</a><br></div>
          <div class="mdes"><a class="mypage" href="../user/mypage">My Page</a><br></div>
          <div class="mdes"><a id="plan">Plan</a><br></div>
          
          <input type="checkbox" name="accordion" id="planp">
          <label for=planp>Personal</label>
          <div>
            {% if cate %}
            {% for i in cate %}
              <li class="list"><a href="/plan/{{i[2]}}">{{i[2]}}</a></li>
            {% endfor %}
            {% endif %}
          
            <!-- <div id = "create" ></div> -->
            <!-- <input type="button" value="생성" onclick="addInput();" /> -->
            <!-- <input type="button" value="취소" onclick="deleteInput();"/> -->
          <form id="category" action = "../plan/create" method="post">
            <input id="categorytext" type="text" name = "cate" placeholder = "카테고리 생성">
            <input id="cate_button" type="submit" value="완료"/>
          </form>
          <button type="button" id="categoryup"><a href="../plan/edit">카테고리 수정</a></button>
          </div>
          <input type="checkbox" name="accordion" id="plang">
          <label for=plang>Group</label>
          <div>
            <li class="list">ㅇㅇㅇ</li>
          </div>
          <a id="logout" href="../user/logout">Logout</a>
        </div>  
      {% endif %}
      <!-- <script src="../static/js/create_catetory.js"></script> -->
    </section>
  </aside>
  <main>
    <section id="mypagetool">
      <div id="mypaged">
        <h3 id="title">마이 페이지</h3>
          <form action="/user/edit" method="post">
              <div class="des">이름 : {{user["name"]}}</div>
              <div class="des">아이디 : {{user["id"]}}</div>
              <div class="des">이메일 : {{user["email"]}}</div>
              <div class="des">
                  비밀번호
                  <input id="password" type='password' name='user_pw' pattern="[a-zA-z0-9]{8,16}" placeholder="비밀번호" required>
                  <div class="help-pw">영문 대소문자, 숫자, 특수문자가 조합된 8~16자리 비밀번호를 입력해주세요.</div>
              </div>
              <div class="des">
                  비밀번호 재입력
                  <input id="pw_check" type='password' name='pw_check' onkeyup="check_pw()" pattern="[a-zA-z0-9]{8,16}" placeholder="비밀번호 재입력" required>
                  <div class = "help-pw">비밀번호를 다시 입력해주세요.</div>
              </div>
      
              <input id="edit_profile" type='submit' value='비밀번호 수정'></input>
              <script src="../static/js/check.js"></script>
          </form>
          <form action="/user/deleteAction" method="POST">
            <input id="delete" type='submit' value="회원탈퇴"></input>
          </form>
      </div>
    </section>
  </main>
  <footer>

  </footer>
</body>
</html>