<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bodygrid.css" >
    <link rel="stylesheet" href="/static/css/menubar.css">
    <link rel="stylesheet" href="/static/css/plan.css">
    <link rel="stylesheet" href="/static/css/datepicker.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap" rel="stylesheet">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
  </head>
<body>
  <header>
    
  </header>
  <aside>
    <section id="menubar">
      {% if not current_user.is_authenticated %}
        <div class="menubarblock">
          <div class="ldes"><a href="/user">로그인</a>을 해주세요.</div>
          <div class="mdes"><a class="home" href="/">HOME</a><br></div>
          <div class="mdes"><a class="mypage" href="../user/mypage">My Page</a><br></div>
          <div class="mdes"><a class="plan">Plan</a><br></div>
          <div class="mdes"><a class="personal">Personal</a><br></div>
          <div class="mdes"><a class="group">Group</a><br></div>
          <div id="loginsignup"><a href="/user">login</a> / <a href="../user/register">Sign up</a></div>
        </div>
    
      {% else %}
      <div class="menubarblock">
          <div class="ldes" id="name">{{current_user.name}}님</div>
          <div class="mdes"><a class="home" href="/">HOME</a><br></div>
          <div class="mdes"><a class="mypage" href="../user/mypage">My Page</a><br></div>
          <div class="mdes"><a id="plan">Plan</a><br></div>
          <input type="checkbox" name="accordion" id="planp">
          <label for=planp>Personal</label>
          <div>
            {% if cate %}
            {% for i in cate %}
              <li class="list"><a href="/plan/{{i[2]}}">{{i[2]}}</a></li>
            {% endfor %}
            {% endif %}
          
            <!-- <div id = "create" ></div> -->
            <!-- <input type="button" value="생성" onclick="addInput();" /> -->
            <!-- <input type="button" value="취소" onclick="deleteInput();"/> -->
          <form id="category" action = "../plan/create" method="post">
            <input id="categorytext" type="text" name = "cate" placeholder = "카테고리 생성">
            <input id="cate_button" type="submit" value="완료"/>
          </form>
          <button type="button" id="categoryup"><a href="/plan/edit">카테고리 수정</a></button>
          </div>
          <input type="checkbox" name="accordion" id="plang">
          <label for=plang>Group</label>
          <div>
            <li class="list">ㅇㅇㅇ</li>
          </div>
          <a id="logout" href="../user/logout">Logout</a>
        </div>  
      {% endif %}
      <!-- <script src="../static/js/create_catetory.js"></script> -->
    </section>
  </aside>
  <main>
    <h1 id="plan_title">{{category}}</h1>
    <div id="todo_tool">
      <form id="todocalendar" action="/plan/{{category}}/get-plan">
        <input class="datepicker" id="datepicker" name="date" onchange = "date_change()">
        <input id="day_select_button" type="submit" value="계획 조회">
        <script>
          $(function(){
            $('.datepicker').datepicker();
            $.datepicker.setDefaults({
              dateFormat: 'yy-mm-dd',
              prevText: '이전 달',
              nextText: '다음 달',
              monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
              monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
              dayNames: ['일', '월', '화', '수', '목', '금', '토'],
              dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
              dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
              showMonthAfterYear: true,
              yearSuffix: '년'
            });
            
            $(function () {
              $('.datepicker').datepicker();
            });
          })
        </script>
      </form>
      
      <div id="todoplan">
        <form action="/plan/{{category}}/make-plan">
          <input type="hidden" name="date2" id="date2">
          <input id="plan_write" type="text" name="p_content">
          <input id="plan_make_button" type="submit" value="계획 생성">
        </form>
    
        <div id="date">{{ date }}</div>
    
        <div id="plan_content">
        {% if plan%}
        {% for i in plan %}
        <input type="checkbox">
        <form action="/plan/editplan/{{i[0]}}" method="post">
          <input class="text" value="{{ i[1] }}" name="editplan{{i[0]}}">
          <input type="submit" value="수정하기">
        </form>
        <form action="/plan/deleteplan/{{i[0]}}" method="post">
          <input type="submit" value="삭제하기">
        </form>
        {% endfor %}
        {% endif %}
        </div>
    
        <script>
          document.getElementById('datepicker').value=document.getElementById('date').innerHTML;
          function date_change(){
            document.getElementById('date2').value=document.getElementById('datepicker').value;
            console.log(document.getElementById('date2').value)
          }
        </script>
      </div>
    </div> 

  </main>
  <footer>

  </footer>
</body>
</html>